*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

#background-color{
    background-color: #000000;

}
#navbar{
    flex-wrap: nowrap;
    width: 100%;
    padding: 0.7vh 2vw;

}



.nav-links{
    color: #f0f8ff;
    margin: 2vw;
    text-decoration: none;
   
}


:root{
--red:#ed1c24;
 
}

#red{
   color: var(--red); 
}
#franchise{
    margin: 10px;
flex-wrap: nowrap;
color: #f0f8ff;
background-color: transparent;
border: 1px solid white;
padding: 15px 20px;
cursor: pointer;}

 #order-online{
    margin: 10px;
    border-radius: 40px;
    background-color: var(--red);
    border: 0px;
    padding-top: 5px;
    padding: 17px 22px;
    cursor: pointer;
}

#btn-icon{

    padding: 4px 5px; }

